In [13]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
import numpy as np

In [8]:

df=pd.read_csv("/home/amado/Escritorio/CSV/IMC2.csv")

In [9]:
df

    IMC  RIESGO NOMBRE_ETIQUETAS
0  18.5       0             BAJO
1  19.5       0             BAJO
2  25.0       0             BAJO
3  28.0       1            MEDIO
4  32.0       1             ALTO
5  35.0       2             ALTO
6  40.0       2             ALTO
7  45.0       3          INMENSO
8  46.0       3          INMENSO
9  47.0       3          INMENSO

In [11]:
df.columns=["Data","Target","Target_names" ]
df

   Data  Target Target_names
0  18.5       0         BAJO
1  19.5       0         BAJO
2  25.0       0         BAJO
3  28.0       1        MEDIO
4  32.0       1         ALTO
5  35.0       2         ALTO
6  40.0       2         ALTO
7  45.0       3      INMENSO
8  46.0       3      INMENSO
9  47.0       3      INMENSO

In [35]:
X=df.iloc[:,[0]].values
X=X.reshape(-1,1)
Y=df.iloc[:,1 ]

In [36]:
clf=DecisionTreeClassifier()
clf.fit(X,Y)
clf.score(X,Y)

1.0

In [37]:
from sklearn.metrics import confusion_matrix
from sklearn.tree import export_graphviz
import graphviz
confusion_matrix(Y,clf.predict(X))

array([[3, 0, 0, 0],
       [0, 2, 0, 0],
       [0, 0, 2, 0],
       [0, 0, 0, 3]])